<f:for each="{ingredients}" as="ingredientConfiguration">
	<f:if condition="{ingredientConfiguration.multiple}">
		<f:then>
			<!-- <div class="card-backdrop-header">{ingredientConfiguration.title}</div> -->
			<div class="repeater" id="repeater{ingredientConfiguration.className -> s:format.classId()}" data-auto-add="0" data-placeholder="--template--">
				<div class="repeater-items">
					<f:for each="{ingredientConfiguration.instances}" as="ingredient">
						<div class="repeater-item">
							<f:render partial="Ingredient" arguments="{ingredient: ingredient, className: ingredientConfiguration.className, ingredientConfiguration: ingredientConfiguration}" />
						</div>
					</f:for>
				</div>

				<div class="repeater-item repeater-template">
					<f:render partial="Ingredient" arguments="{ingredient: {id: '--template--'}, className: ingredientConfiguration.className}" />
				</div>

				<a href="#" class="btn-round repeater-item-add hidden">
					<i class="material-icons">add</i>
				</a>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{ingredientConfiguration.instances}">
				<f:then>
					<f:for each="{ingredientConfiguration.instances}" as="ingredient">
						<f:render partial="Ingredient" arguments="{ingredient: ingredient, className: ingredientConfiguration.className}" />
					</f:for>
				</f:then>
				<f:else>
					<f:render partial="Ingredient" arguments="{ingredient: {id: '--template--'}, className: ingredientConfiguration.className}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:for>