<s:form.name prefix="ingredients.{ingredient.id}">
	<div class="repeater-reference-data" data-namespace="{s:form.name()}">
		<input type="hidden" name="{s:form.name(name: '_class')}" value="{className}" />
		<f:if condition="{ingredient.arguments}">
			<f:for each="{ingredient.arguments}" as="argument">
				<input type="hidden" name="{s:form.name(name: '_arguments')}[]" value="{argument}" />
			</f:for>
		</f:if>
	</div>

	<f:render partial="{className -> s:format.classPartial()}" arguments="{ingredient: ingredient}" />
</s:form.name>