<f:layout name="Default" />

<f:section name="Main">
<h3>TYPO3</h3>
<form method="POST">
	<f:for each="{recipe.fields}" as="field" key="fieldName">
		<s:form.field name="{fieldName}" label="{field.label}" value="{field.value}" />
	</f:for>

	<f:for each="{recipe.ingredients}" key="ingredientName" as="ingredientClassName">
		<div class="card-backdrop card-backdrop-{ingredientName}">
			<div class="card-backdrop-header">{ingredientName}</div>
			<f:for each="{ingredientClassName->s:ingredients()}" as="ingredient">
				<input type="hidden" name="ingredients[{ingredient.id}][_class]" value="{ingredientClassName}" />
				<f:render partial="{ingredientClassName -> s:format.classPartial()}" arguments="{ingredient: ingredient}" />
			</f:for>
			<a href="#" class="btn-round pull-right">
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</f:for>

	<div class="row">
		<div class="col-xs-9 col-xs-offset-3">
			<button type="Submit" class="btn btn-default">
				Save
			</button>
		</div>
	</div>
</form>
</f:section>