<f:layout name="Default" />

<f:section name="Main">
<h3>TYPO3</h3>
<form method="POST">
	<f:for each="{recipe.fields}" as="field" key="fieldName">
		<div class="row">
			<s:form.field name="{fieldName}" label="{field.label}" value="{field.value}" />
		</div>
	</f:for>

	<f:for each="{recipe.ingredients}" key="ingredientName" as="ingredients">
		<div class="card-backdrop card-backdrop-{ingredientName}">
			<div class="card-backdrop-header">{ingredientName}</div>
			<f:for each="{ingredients}" as="ingredient">
				<div class="card card-expandable depth-2">
					<div class="card-header">
						{ingredient.name}
						<div class="card-actions pull-right">
							<a href="#" class="btn-round js-action-edit">
								<i class="fa fa-pencil"></i>
							</a>
							<a href="#" class="btn-round js-action-remove">
								<i class="fa fa-times"></i>
							</a>
							<a href="#" class="btn-round js-action-duplicate">
								<i class="fa fa-files-o"></i>
							</a>
						</div>
					</div>
					<div class="card-body">
						<f:for each="{ingredient.fields}" as="field" key="fieldName">
							<div class="row">
								<s:form.field name="{fieldName}" label="{field.label}" value="{field.value}" arguments="{field}" />
							</div>
						</f:for>
					</div>
				</div>
			</f:for>
			<a href="#" class="btn-round pull-right">
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</f:for>

	<div class="row">
		<div class="col-xs-9 col-xs-offset-3">
			<button type="Submit" class="btn btn-default">
				Save
			</button>
		</div>
	</div>
</form>
</f:section>