<f:render partial="Card" arguments="{header: 'Extension Information', color: 'dark-purple'}" contentAs="content">
	<s:form.field name="{s:form.name(name: 'title')}" label="Title" placeholder="My Extension" value="{ingredient.title}"/>

	<s:form.field name="{s:form.name(name: 'extension_key')}" label="Extension Key" placeholder="my_ext" value="{ingredient.extensionKey}" />

	<s:form.field name="{s:form.name(name: 'company')}" label="Company" placeholder="Acme"  value="{ingredient.company}"/>

	<s:form.field name="{s:form.name(name: 'description')}" label="Description" value="{ingredient.description}" />

	<s:form.field name="{s:form.name(name: 'author')}" label="Author" value="{ingredient.author}" />

	<s:form.field name="{s:form.name(name: 'author_email')}" label="Author E-Mail" value="{ingredient.authorEmail}" />

	<s:form.field name="{s:form.name(name: 'version')}" label="Version" value="{ingredient.version}" />

	<s:form.field name="{s:form.name(name: 'category')}" label="Art" value="{ingredient.extensionType}" control="Select" arguments="{options: ingredient.extensionTypes}" />

	<s:form.field name="{s:form.name(name: 'state')}" label="State" value="{ingredient.extensionState}" control="Select" arguments="{options: ingredient.extensionStates}" />
</f:render>
