<f:render partial="Card" arguments="{header: ingredient.name, type: 'Plugin', color: 'pink'}" contentAs="content">
	<s:form.field name="{s:form.name(name: 'name')}" label="Name" value="{ingredient.name}" class="form-control" />
	<s:form.field name="{s:form.name(name: 'title')}" label="Title" value="{ingredient.title}" class="form-control card-header-field" />

	<s:form.field name="{s:form.name(name: 'defaultAction')}" label="Default Action" value="{ingredient.facade.defaultController}:{ingredient.facade.defaultAction}" class="form-control" control="Typo3/DefaultControllerAction" />

	<s:form.field name="{s:form.name(name: 'cachedActions')}[]" label="Cached Actions" value="{ingredient.cachedControllersValue}" class="form-control card-header-field" control="ControllerActions" />

	<s:form.field name="{s:form.name(name: 'uncachedActions')}[]" label="Uncached Actions" value="{ingredient.uncachedControllersValue}" class="form-control card-header-field" control="ControllerActions" />
</f:render>