<f:layout name="Default" />

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<base href="/" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style type="text/css">
		body {
			padding: 30px;
		}

		.form-group {
			overflow: hidden;
		}
	</style>
</head>
<body>

<div class="container">
	<f:render section="Main" />
</div>

</body>
</html>